body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

header img {
    max-width: 200px;
    height: auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

h1 {
    font-size: 36px;
    color: #333;
    margin: 20px 0;
}

section {
    padding: 20px;
    background-color: #fff;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 5px #888888;
}

section a {
    color: #007BFF;
    text-decoration: none;
}

footer {
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

img {
    max-width: 40%;
    height: auto;
    box-shadow: 2px 2px 5px #888888;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.realisation {
    width: 100%;
    margin: auto;
}

#accueil {
    max-width: 800px;
    margin: auto;
}

img[src="images/MG Tourné.jpg"] {
    max-width: 30%;
    height: auto;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

body.blur {
    filter: blur(5px);
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

form {
    text-align: left;
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #888888;
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

#evenements,
#festivals {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#evenements h2,
#festivals h2 {
    color: #007BFF;
    border-bottom: 2px solid #007BFF;
    padding-bottom: 10px;
}

#evenements ul,
#festivals ul {
    list-style-type: none;
    padding: 0;
}

#evenements li,
#festivals li {
    margin-bottom: 20px;
}

#evenements h3,
#festivals h3 {
    color: #333;
}

#liens-fans a {
    display: block;
    margin-bottom: 20px;
    color: #007BFF;
    text-decoration: none;
}


.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; 
}


.video-player {
    grid-column: 1 / span 4; 
}


.realisation {
    width: 100%; 
    height: auto; 
}
